.container {
  width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  position: relative;

  .detailHeader {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 0px 3px 0px #ccc;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }

    span {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  .contentHeader {
    display: flex;
    padding: 1.3rem;
    align-items: center;

    span {
      color: #999;
      font-weight: 500;
      margin-right: 1rem;
    }

    .contentTitle {
      flex-grow: 1;
      text-align: left;
      color: #222;
      font-size: 1.2rem;
      font-weight: 600;
    }

    .reportWrapper {
      position: relative;
      .more {
        width: 2rem;
        cursor: pointer;
      }

      .reportModal {
        display: flex;
        align-items: center;
        position: absolute;
        top: 2.5rem;
        right: 0;
        width: 8rem;
        background: #fff;
        padding: 1rem;
        border-radius: 0.4rem;
        box-shadow: 0 2px 16px 0 rgb(0 0 0 / 22%);

        .siren {
          width: 2rem;
          margin-right: 0.5rem;
        }
        span {
          color: #222;
          font-weight: 500;
        }
      }
    }

    .thumbWrapper {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      font-weight: 600;

      .thumbIcon {
        margin-right: 0.5rem;
        width: 2rem;
        cursor: pointer;
      }
    }

    .shareIcon {
      width: 2rem;
      cursor: pointer;
    }

    .heartIcon {
      margin-left: auto;
      width: 1.8rem;
      cursor: pointer;
    }
  }

  .linkWrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .urlIcon {
      width: 5rem;
      height: 5rem;
    }
  }

  div {
    .img {
      background-color: gray;
      width: 100%;
    }
  }

  .contentComment {
    padding: 1.3rem;
    text-align: left;

    .starIcon {
      width: 1.5rem;
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
      margin: 1rem 0;
    }
  }
}
